#game-over{
  display:grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 20% 80%;
  width:100vw;
  height: 100vh; 
  background-color: #6600cc;
  color:  #4dffc3;
  font-family: 'Bangers', cursive;
  
 #leader-board{
     grid-column:2; 
     grid-row: 2;
     background-color: none;
 }
 #playerStats{
   grid-column: 2;
   grid-row: 1;
 }

}