.lb-player-avatar {
  border: 2px solid #0cf393;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  top: 5px;
  left: 1.3vw;
  position: absolute;
  box-shadow: 1px 1px 1px 1px #0cf393;
}
// .scroller {
//   overflow-y: scroll;
// }
// .scroller::-webkit-scrollbar-track {
//   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//   border-radius: 12px;
//   background-color: #f5f5f5;
// }

// .scroller::-webkit-scrollbar {
//   width: 10px;
//   background-color: #52d6a5;
// }

// .scroller {
//   border: none;
//   padding: 5px;
//   font: 24px/36px sans-serif;

//   overflow-y: scroll;
// }
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-track {
  border: 2px solid rgba(0, 152, 121, 0.5);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 152, 121, 1);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(9, 119, 97);
}

#leader-board {
  height: 100%;
  width: 100%;
  margin: auto;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  // min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  #table-headers {
    tr {
      background-color: #009879;
      color: #ffffff;
      text-align: center;
      display: grid;
      grid-template-columns: 10% 15% 50% 17%;
      height: 50px;
      font-size: 1rem;
    }
    th,
    td {
      padding: 12px 15px;
      text-align: center;
    }
  }
  tbody tr {
    border-bottom: 1px solid #dddddd;
    width: 100vw;
    display: grid;
    grid-template-columns: 15% 10% 50% 17%;
    height: 55px;
  }
  tbody tr:nth-of-type(even) {
    background-color: rgba(0, 152, 121, 0.5);
  }
  tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
}

// #leader-board::scroll {
//   position: relative;
//   background: rgba(0, 0, 0, 0.1);
//   width: 9px;
//   border-radius: 4px;
//   top: 0;
//   z-index: 2;
//   cursor: pointer;
//   opacity: 0;
//   transition: opacity 0.25s linear;
// }

tbody {
  position: absolute;
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 50vh;
  z-index: 4;
  td {
    text-align: center;
    padding-left: 3px;
    // padding-top: 10px;
    font-size: 0.9rem;
    position: relative;
    line-height: 50px;
  }
}
