#playerStatsBar{
    display: flex;
    align-items: center;
    justify-content: start;
    width:100vw;
    display:flex;
    // margin:auto;
    // padding:auto;
    background-color: #4dffc3;
    font-family: 'Bangers', cursive;
    color:#6600cc;
    .avatar{
        border: 2px solid #6600cc77;
        opacity:0.9;
        height:40px;
        width:40px;
        border-radius: 25px;
        margin:5px;
        box-shadow: 1px 1px 2px 2px #28775d;
    }
}