.profile-avatar{
    display: block;
    z-index:2;
    margin: 2rem auto 20px auto;
    border: 2px solid #03a285;
    height: 8rem;
    width: 8rem;
    border-radius: 25px;
    box-shadow: 1px 1px 2px 2px #43b686;
   
    grid-column: 1;
    
  }
  
  #profile-details{
    text-align: left;
    grid-column: 2;
    position: absolute;
    font-weight: 100;
    right: 30%;
    top: 2rem;

  }
  #profile-div{
      background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    border-radius: 25px;
      margin:80px auto 1rem auto ;
    font-weight: 100;
    font-size: 1.5rem;
    border: 1px solid white;
    text-align: center;
    color:rgba(255, 255, 255, 1);
    width:80%;
    height: fit-content;
    z-index:2;
    display:grid;
    grid-template-columns: 50% 50%;
  }

#profile-page-title{
    transition-duration: 1s;
    transition-timing-function: ease-in-put;    
    margin-top: 0px;
      font-weight: 100;
      font-size: 2rem;
      color:rgba(255, 255, 255, 1);
    grid-column:1;

}
#ButtonStart{
    z-index:2;
}