#question{
    color:  #fff;
    display:grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 20% 30% 30% 20%;
    width:100vw;
    height: 100vh; 
    align-items: center;
    text-align: center;
    background-color: #23202b;
    h1{
        grid-column: 2;
        grid-row: 2;
         font-family: 'Bangers', cursive;
         text-shadow: 0 0 10px #dc1223, 0 0 20px #680c14, 0 0 30px #a41b27;

    }
    #options{
        grid-column: 2;
        grid-row: 3;
        list-style: none;
        li{
            text-align: center;
            margin: auto;
        }
      
    }
    #playerStats{
        grid-column: 2;
        grid-row: 1;
      }
      #rank{
        grid-column: 2;
        grid-row: 4;
      }
      #lives{
          margin:auto;
      }

}