#quiz-window{
    text-align: center;
    font-size: clamp(20px, 2.5vw, 24px);
    margin-top: 10vh;
}

#options{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 2em auto;

    @media screen and (min-width: 1180px) {
        width: 50%;
    }
}

.option{
    display: block;
    border: 1px solid #616A94;
    border-radius: 15px;
    padding: 15px 30px;
    text-decoration: none;
    color: #616A94;
    background-color: #161A31;
    transition: 0.3s;
    font-size: 1em;
    outline: none;
    user-select: none;
    margin-top: 1em;
    cursor: pointer;
    
    @media screen and (min-width: 1180px) {
        &:hover {
            color: white;
            background-color: #616A94;
        }
    }
}






#floatingCirclesG{
	position:absolute;
	width:125px;
	height:125px;
	margin:auto;
	transform:scale(0.4) rotate(110deg);
    bottom: 1rem;
    left: 1rem;
}

.f_circleG{
	position:absolute;
	background-color:rgb(255,255,255);
	height:22px;
	width:22px;
	border-radius:12px;
	animation-name:f_fadeG;
	animation-duration:2s;
    animation-fill-mode: forwards;
	// animation-iteration-count:infinite;
	animation-direction:normal;
}

#frotateG_01{
	left:0;
	top:51px;
	animation-delay:0s;
}

#frotateG_02{
	left:15px;
	top:15px;
	animation-delay:2s;
}

#frotateG_03{
	left:51px;
	top:0;
	animation-delay:4s;
}

#frotateG_04{
	right:15px;
	top:15px;
	animation-delay:6s;
}

#frotateG_05{
	right:0;
	top:51px;
	animation-delay:8s;
}

#frotateG_06{
	right:15px;
	bottom:15px;
	animation-delay:10s;
}

#frotateG_07{
	left:51px;
	bottom:0;
	animation-delay:12s;
}

#frotateG_08{
	left:15px;
	bottom:15px;
	animation-delay:14s;
}



@keyframes f_fadeG{
	0%{
        background-color:rgb(255,255,255);
    }
    
	100%{
        background-color:#101427;
	}
}

